In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/Users/egill/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data = pd.read_csv("../13100781.csv")
data.describe()

,REF_DATE,Case identifier number,UOM_ID,SCALAR_ID,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
count,3532055.0,3.532055e+06,3532055.0,3532055.0,3.532055e+06,0.0,0.0,0.0,3532055.0
mean,2020.0,6.089800e+04,223.0,0.0,1.516725e+01,NaN,NaN,NaN,0.0
std,0.0,3.515919e+04,0.0,0.0,2.517655e+01,NaN,NaN,NaN,0.0
min,2020.0,1.000000e+00,223.0,0.0,0.000000e+00,NaN,NaN,NaN,0.0
25%,2020.0,3.044900e+04,223.0,0.0,3.000000e+00,NaN,NaN,NaN,0.0
50%,2020.0,6.089800e+04,223.0,0.0,9.000000e+00,NaN,NaN,NaN,0.0
75%,2020.0,9.134700e+04,223.0,0.0,9.000000e+00,NaN,NaN,NaN,0.0
max,2020.0,1.217950e+05,223.0,0.0,9.900000e+01,NaN,NaN,NaN,0.0

In [3]:
data.head()

,REF_DATE,GEO,DGUID,Case identifier number,Case information,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2020,Canada,2016A000011124,1,Region,Number,223,units,0,v1158536291,1.1.1,2,NaN,NaN,NaN,0
1,2020,Canada,2016A000011124,1,Episode week,Number,223,units,0,v1158536292,1.1.2,18,NaN,NaN,NaN,0
2,2020,Canada,2016A000011124,1,Episode week group,Number,223,units,0,v1203603035,1.1.29,0,NaN,NaN,NaN,0
3,2020,Canada,2016A000011124,1,Episode year,Number,223,units,0,v1158536293,1.1.3,20,NaN,NaN,NaN,0
4,2020,Canada,2016A000011124,1,Gender,Number,223,units,0,v1158536294,1.1.4,2,NaN,NaN,NaN,0

In [4]:
data.shape

(3532055, 16)

In [5]:
data.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Case identifier number',
       'Case information', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID',
       'VECTOR', 'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED',
       'DECIMALS'],
      dtype='object')

In [6]:
data['Case identifier number'].nunique()

121795

In [7]:
data['Case information'].unique()

array(['Region', 'Episode week', 'Episode week group', 'Episode year',
       'Gender', 'Age group', 'Occupation', 'Asymptomatic',
       'Onset week of symptoms', 'Onset year of symptoms',
       'Symptom, cough', 'Symptom, fever', 'Symptom, chills',
       'Symptom, sore throat', 'Symptom, runny nose',
       'Symptom, shortness of breath', 'Symptom, nausea',
       'Symptom, headache', 'Symptom, weakness', 'Symptom, pain',
       'Symptom, irritability', 'Symptom, diarrhea', 'Symptom, other',
       'Hospital status', 'Recovered', 'Recovery week', 'Recovery year',
       'Death', 'Transmission'], dtype=object)

In [28]:
data_pivot = data.pivot(
columns = 'Case information',
values = 'VALUE',
index = 'Case identifier number').reset_index()
data_pivot

Case information,Case identifier number,Age group,Asymptomatic,Death,Episode week,Episode week group,Episode year,Gender,Hospital status,Occupation,...,"Symptom, headache","Symptom, irritability","Symptom, nausea","Symptom, other","Symptom, pain","Symptom, runny nose","Symptom, shortness of breath","Symptom, sore throat","Symptom, weakness",Transmission
0,1,7,9,2,18,0,20,2,9,4,...,9,9,9,9,9,9,9,9,9,1
1,2,7,9,2,21,0,20,1,9,4,...,9,9,9,9,9,9,9,9,9,1
2,3,1,9,2,27,0,20,1,9,4,...,9,9,9,9,9,9,9,9,9,1
3,4,8,9,2,17,0,20,2,9,4,...,9,9,9,9,9,9,9,9,9,1
4,5,8,9,1,15,0,20,2,3,4,...,9,9,9,9,9,9,9,9,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121790,121791,4,9,2,18,0,20,1,3,4,...,9,9,9,9,9,9,9,9,9,1
121791,121792,6,9,2,16,0,20,1,3,4,...,9,9,9,9,9,9,9,9,9,1
121792,121793,3,9,2,11,0,20,1,3,4,...,9,9,9,9,9,9,9,9,9,1
121793,121794,2,9,2,20,0,20,2,3,4,...,9,9,9,9,9,9,9,9,9,1
121794,121795,8,9,1,15,0,20,2,9,4,...,9,9,9,9,9,9,9,9,9,1

In [29]:
data_pivot.replace({'Region':{1: 'Atlantic', 2: 'Quebec', 3: 'Ontario', 4: 'Prairies', 
                                                 5: 'BC'}}, inplace = True)
data_pivot.replace({'Age group':{1: '0-19', 2: '20-29', 3: '30-39', 4: '40-49', 5: '50-59', 6: '60-69', 
                                 7: '70-79', 8: '80+', 9: None}}, inplace = True)
data_pivot.replace({'Asymptomatic':{1: 'Y', 2: 'N', 9: None}}, inplace = True)
data_pivot.replace({'Gender':{1: 'M', 2: 'F', 9: None}}, inplace = True)
data_pivot.replace({'Hospital status':{1: 'Y_ICU', 2: 'Y', 3: 'N', 9: None}}, inplace = True)
data_pivot.replace({'Occupation':{1: 'HealthCare', 2: 'School', 3: 'LongTermCareResident', 4: 'Other', 
                                9: None}}, inplace = True)
data_pivot.replace({'Transmission':{1: 'Domestic', 2: 'International', 9: None}}, inplace = True)
data_pivot.replace({'Death':{1: 'Y', 2: 'N', 9: None}}, inplace = True)
data_pivot.replace({'Recovered':{1: 'Y', 2: 'N', 3: None}}, inplace = True)
data_pivot.drop(['Episode year', 'Onset year of symptoms', 'Recovery year'], axis = 1, inplace = True)
data_pivot

Case information,Case identifier number,Age group,Asymptomatic,Death,Episode week,Episode week group,Gender,Hospital status,Occupation,Onset week of symptoms,...,"Symptom, headache","Symptom, irritability","Symptom, nausea","Symptom, other","Symptom, pain","Symptom, runny nose","Symptom, shortness of breath","Symptom, sore throat","Symptom, weakness",Transmission
0,1,70-79,None,N,18,0,F,None,Other,99,...,9,9,9,9,9,9,9,9,9,Domestic
1,2,70-79,None,N,21,0,M,None,Other,99,...,9,9,9,9,9,9,9,9,9,Domestic
2,3,0-19,None,N,27,0,M,None,Other,99,...,9,9,9,9,9,9,9,9,9,Domestic
3,4,80+,None,N,17,0,F,None,Other,99,...,9,9,9,9,9,9,9,9,9,Domestic
4,5,80+,None,Y,15,0,F,N,Other,15,...,9,9,9,9,9,9,9,9,9,Domestic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121790,121791,40-49,None,N,18,0,M,N,Other,18,...,9,9,9,9,9,9,9,9,9,Domestic
121791,121792,60-69,None,N,16,0,M,N,Other,16,...,9,9,9,9,9,9,9,9,9,Domestic
121792,121793,30-39,None,N,11,0,M,N,Other,11,...,9,9,9,9,9,9,9,9,9,Domestic
121793,121794,20-29,None,N,20,0,F,N,Other,20,...,9,9,9,9,9,9,9,9,9,Domestic
121794,121795,80+,None,Y,15,0,F,None,Other,15,...,9,9,9,9,9,9,9,9,9,Domestic

In [30]:
#find the percent of data that is present in each column
(data_pivot.shape[0] - data_pivot.isnull().sum())/data_pivot.shape[0] * 100

Case information
Case identifier number          100.000000
Age group                       100.000000
Asymptomatic                     16.961287
Death                            91.368283
Episode week                    100.000000
Episode week group              100.000000
Gender                           99.576337
Hospital status                  69.126811
Occupation                       87.763044
Onset week of symptoms          100.000000
Recovered                       100.000000
Recovery week                   100.000000
Region                          100.000000
Symptom, chills                 100.000000
Symptom, cough                  100.000000
Symptom, diarrhea               100.000000
Symptom, fever                  100.000000
Symptom, headache               100.000000
Symptom, irritability           100.000000
Symptom, nausea                 100.000000
Symptom, other                  100.000000
Symptom, pain                   100.000000
Symptom, runny nose             100.000000
Symptom, shortness of breath    100.000000
Symptom, sore throat            100.000000
Symptom, weakness               100.000000
Transmission                     97.633729
dtype: float64